ADMIN_EMAIL_DOMAINS=
BETTER_AUTH_SECRET=Zc8Z3pXVATlVjO5LyoUw5+ylcz/vyPRXa1Gs69c1iA0=
BETTER_AUTH_URL=http://localhost:3000
BOT_SUPPORT_MAIL=
DATABASE_URL_UNPOOLED=postgresql://postgres:postgres@localhost:5432/app?schema=public
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/app?schema=public
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_GENERATIVE_AI_API_KEY=
NEXT_PUBLIC_BETTER_AUTH_SOCIAL_PROVIDERS=github
NEXT_PUBLIC_DEV_UI=true
NEXT_PUBLIC_POSTHOG_HOST=https://eu.i.posthog.com
NEXT_PUBLIC_POSTHOG_PROJECT_TOKEN=
RESEND_API_KEY=
RESEND_FROM=
RESEND_WEBHOOK_SECRET=