# dependencies
/node_modules

# next
/.next/
next-env.d.ts
**/*.tsbuildinfo

# prisma
/app/storage/client

# vitest code coverage
/coverage

# Script output
/tmp
/backups

# Environment variables
.env

# Notes and todo files
/todo

# playwright e2e
/e2e/.container-state.json
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# har files
/recordings/
