# dependencies
/node_modules

# next
/.next/
next-env.d.ts
**/*.tsbuildinfo

# prisma
/app/storage/client

# vitest code coverage
/coverage

# Script output
/tmp

# Environment variables
.env

# Notes and todo files
/todo